.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.container-fluid{
  height: 60px;
}

.navbar-collection{
  height: 40px;
  padding-left: 10px;
}

.menu-panel{
  // height: 20px;
}

.menu-panel-item{
  // height: auto;
}
